@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
  }
  body {
  margin: 0 auto;
  background-color: gray;
  border: 5px solid black;

}
h1 {
    font-size: 60px;
    text-align: center;
    margin: 0;
    padding: 20px 0;
    color: black;
    text-shadow: 3px 3px 1px #ff400f;
  }

  h2{
    font-size: 50px;
    color: black;
    text-shadow: 3px 3px 1px #ff400f;

  }
  
  p, li {
    font-size: 19px;
    line-height: 2;
    letter-spacing: 1px;
    text-align: center;
    display: block;
  margin: 0 auto;
  }

  button {
    background-color: white;
    color: black;
    text-shadow: 5px 5px 2px #ff400f;
    border: 5px solid white;
    font-size: 19px;
    font-weight: bold;
  }
  
  